body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #4b6cb7, #182848);
    color: #fff;
        height:600px; /* Adjust as needed */
        width:500px; /* Adjust as needed */
    
  }
  
  .container {
    text-align: center;
  }
  
  #textInput {
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    border: none;
    border-radius: 5px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .card {
    background: white;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  